@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@layer base {
  body {
    @apply font-sans bg-bgGradient text-white leading-normal;
  }
  .h3 {
    @apply text-[22px] lg:text-[32px] font-bold;
  }
  .btn {
    @apply bg-[#4F4CDA] h-[60px] px-4 rounded-full hover:bg-transparent hover:text-[#4F4CDA] transition flex items-center text-lg font-medium outline-none;
  }
  .section {
    @apply py-12 lg:py-24;
  }
  .section-title {
    @apply text-2xl lg:text-[40px] font-bold leading-normal mb-6;
  }
  .section-subtitle {
    @apply mt-6 mb-8 text-gray;
  }
  .input,
  .select {
    @apply outline-none w-full border-b border-gray text-secondary50 h-[38px] text-xl;
  }
  .input {
    @apply lg:max-w-[410px] bg-transparent;
  }
  .select {
    @apply lg:max-w-[200px] cursor-pointer;
  }
}